In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R9CO86UUJCAW5,3.0,0.0,0.0,N,Y
1,R3PR8X6QGVJ8B1,5.0,0.0,0.0,N,Y
2,R39BO2819ABUPF,4.0,0.0,0.0,N,Y
3,R3ADL7V6EGGEEP,4.0,0.0,0.0,N,Y
4,R1OXYPBPLVRMI5,5.0,0.0,0.0,N,Y

In [4]:
# DF of rows with 20 or more total votes
vine20_df = vine_df[vine_df['total_votes'] > 19]
vine20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348621,RWO8RAQ8QBXID,1.0,4.0,37.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [13]:
# DF of rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_df = vine20_df[(vine20_df['helpful_votes'] / vine20_df['total_votes'] *100 ) > 49]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348591,RMGU68P5LBV6X,5.0,27.0,27.0,N,N
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [36]:
helpful_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [104]:
#Df where vine = Y (part of the vine program)
vineY_df = helpful_df[helpful_df["vine"] =='Y']
vineY_df.count()

review_id            21
star_rating          21
helpful_votes        21
total_votes          21
vine                 21
verified_purchase    21
dtype: int64

In [23]:
#Df where vine = N (not part of the vine program)
vineN_df = helpful_df[helpful_df["vine"] =='N']
vineN_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348591,RMGU68P5LBV6X,5.0,27.0,27.0,N,N
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [32]:
# Determine the total number of reviews
n = len(pd.unique(helpful_df['review_id']))
print("Total number of reviews:", n)

Total number of reviews: 6711

In [72]:
#Determie the number of 5-star reviews
st = len(helpful_df[helpful_df['star_rating']== 5.0])
print("Number of 5-star reviews:", st)

Number of 5-star reviews: 3458

In [93]:
# Determine the percentage of 5-star reviews for the two types of review (paid vs unpaid).
pdst = len(vineY_df[vineY_df['star_rating']== 5.0])
pdst

10

In [94]:
npdst = len(vineN_df[vineN_df['star_rating']== 5.0])
npdst

3448

In [99]:
paid5 = (pdst / 21) *100
paid5

47.61904761904761

In [100]:
unpaid5 = (npdst / 6690) *100
unpaid5

51.53961136023917

In [101]:
print("Percentage of paid 5-star reviews:", round(paid5,2))

Percentage of paid 5-star reviews: 47.62

In [102]:
print("Percentage of non-paid 5-star reviews:", round(unpaid5,2))

Percentage of non-paid 5-star reviews: 51.54